.navbar{
   background: transparent !important; 
   position: absolute;  
   width: 100%;
   z-index: 2;
}

.navbar-brand{
      color: rgb(175, 175, 75);
      font-family: "Dancing Script", cursive;
      font-size: 1.8rem;
}

.navbar-nav .nav-link{
      color: white;
      margin: 0 15px;
}
.hero_text{
      z-index: 2;
}
.hero_text h1{
      margin-bottom: 32px;
}

.hero_section{
      background: url(/img/hero_img.jpg);
      height: 100vh;
      background-size:cover;
      
      display: flex;
      align-items: center;
      color: white;
}

.hero_section::before{
      content: "";
      top: 0;
      left: 0;
      background-color: black;
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0.5;
}


/* -------------------
---offer section----
-------------------- */

.offer_section{
      margin-top: 3.5rem;
      margin-bottom: 3rem;

}

.offer_card img{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 4px solid gold;
}

.offer_card{
      display: flex;
      gap: 20px;
      background-color: black;
      color: white;
      padding: 22px;
}

.offer_card h3,h4{
      font-family: "Dancing Script", cursive;
}

.offer_btn{
      margin-top: 14px;
      background-color: goldenrod;
      border: none;
      padding: 10px 15px;
      border-radius: 25px;
      color: white;
      font-weight: bold;
      text-transform: capitalize;
}

.navbar{
      background: transparent !important; 
      position: absolute;  
      width: 100%;
      z-index: 2;
   }
   
   .navbar-brand{
         color: rgb(175, 175, 75);
         font-family: "Dancing Script", cursive;
         font-size: 1.8rem;
   }
   
   .navbar-nav .nav-link{
         color: white;
         margin: 0 15px;
   }
   .hero_text{
         z-index: 2;
   }
   .hero_text h1{
         margin-bottom: 32px;
   }
   
   .hero_section{
         background: url(/img/hero_img.jpg);
         height: 100vh;
         background-size: cover;
         display: flex;
         align-items: center;
         color: white;
   }
   
   .hero_section::before{
         content: "";
         top: 0;
         left: 0;
         background-color: black;
         height: 100%;
         width: 100%;
         position: absolute;
         opacity: 0.5;
   }
               .menu_title {
                     text-align: center;
                     margin-bottom: 20px;
               }
   
               .card {
                     border: none;
                     border-radius: 20px;
               }
   
               .card img {
                     width: 100%;
                     height: 200px;
                     object-fit: contain;
                     padding: 15px;
                     overflow: hidden;
                     background: transparent;
                     border-bottom-left-radius: 50px;
                     transition: transform 0.5s ease;
               }
   
               .card img:hover {
                     transform: scale(1.1);
               }
   
               .menu_content {
                     background-color: black;
                     color: white;
                     padding: 20px;
                     border-bottom-left-radius: 50px;
               }
   
               .menu_cart {
                     display: flex;
                     justify-content: space-between;
                     margin-top: 20px;
               }
   
               .menu_cart_icon {
                     background-color: gold;
                     padding: 8px;
                     border-radius: 50%;
               }
   
               .comon_btn {
                     padding: 8px 35px;
                     border-radius: 15px;
                     text-transform: capitalize;
                     color: white;
               }
   
               .about_section {
                     background-color: black;
                     color: white;
               }
   
               .about_section img {
                     width: 100%;
               }
   
               /* ======swiper====== */
               .swiper {
                     width: 100%;
                     height: 100%;
               }
   
               .swiper-slide {
                     text-align: center;
                     font-size: 18px;
                     background: #fff;
                     display: flex;
                     flex-direction: column;
                     gap: 15px;
                     
                     align-items: start;
                     
               }
   
               .swiper-slide img {
                     display: block;
                     width: 6rem;
                     height: 6rem;
                     object-fit: cover;
                     border-radius: 50%;
               }
   
               .review_heading{
                     text-align: center;
               }
               .review_comment{
                     background-color: black;
                     color: #fff;
                     text-align: left;
                     padding: 10px 18px;
                     
               }